.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.cache/
*.egg-info/

config/settings.toml

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
reports/*
!reports/.gitkeep
